@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/images/asset3.png" width="300" height="300" style="padding: 25px;">
    <h1 class="display-4"></h1>

    <h1>info@spiritopher.com</h1>
    <h3>Spletna stran je v izdelavi.</h3>
    <h4>(šnops tudi)</h4>
</div>
