@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/images/asset4.png">
    <h1 class="display-4"></h1>
    <h1>info@spiritopher.com</h1>
    <p>Spletna stran je v izdelavi.</p>
</div>
