@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> </h1>
    <img src="/images/asset6.png" width="300" height="300" style="padding: 25px;">
    <h1 class="display-4"></h1>
    <h3> </h3>
    <h1>info@spiritopher.com</h1>
    <h3>Spletna stran je v izdelavi.</h3>
</div>
