@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="asset4.png" width=300 height=300>
    <h1 class="display-4">SPIRITOPHER</h1>
    <h1>info@spiritopher.com</h1>
    <p>Spletna stran je v izdelavi.</p>
</div>
