<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>  
    <rewrite>  
        <rules>  
          <rule name="Redirect to www" stopProcessing="true">
            <match url="(.*)" />  
            <conditions>
              <add input="{HTTP_HOST}" pattern="^spiritopher\.azurewebsites\.net$" />
              <add input="{HTTP_HOST}" negate="true" pattern="^www\." />
            </conditions>
            <action type="Redirect" url="http://www.spiritopher.com/{R:0}" />  
          </rule>  
        </rules>  
    </rewrite>  
  </system.webServer>  
</configuration>